@import "tailwindcss";
@theme {
  /* Konfigurasi Animasi Fade In */
  --animate-fade-in: fade-in 0.7s ease-out both;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.theme-primary {
  color: #2d3748;
}
.theme-secondary {
  color: #dd6b20;
}
.bg-primary {
  background-color: #ffffff;
}
.bg-secondary {
  background-color: #f7fafc;
}
.border-primary {
  border-color: #e2e8f0;
}
.btn-primary {
  background-color: #dd6b20;
  color: white;
}
.btn-primary:hover {
  background-color: #c05621;
}
.transition-all {
  transition: all 0.3s ease;
}