body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.theme-primary {
  color: #2d3748;
  /* Abu-abu gelap */
}
.theme-secondary {
  color: #dd6b20;
  /* Oranye hangat */
}
.bg-primary {
  background-color: #ffffff;
  /* Putih */
}
.bg-secondary {
  background-color: #f7fafc;
  /* Abu-abu sangat muda */
}
.border-primary {
  border-color: #e2e8f0;
  /* Abu-abu muda */
}
.btn-primary {
  background-color: #dd6b20;
  /* Oranye hangat */
  color: white;
}
.btn-primary:hover {
  background-color: #c05621;
  /* Oranye lebih gelap saat hover */
}
.transition-all {
  transition: all 0.3s ease;
}